<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krilin - 700</li>
      <li>Goku - 15,000</li>
      <li>Vegueta - 8,500</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr />
    <!-- <small>{{ nuevo.nombre }} && {{ nuevo.poder }}</small> -->

    <form (ngSubmit)="agregar()">
      <input
        name="nombre"
        id=""
        placeholder="Nombre"
        type="text"
        [(ngModel)]="nuevo.nombre"
      />
      <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre($event)" -->
      <input type="number" name="poder" id="" [(ngModel)]="nuevo.poder" />
      <!-- [value]="nuevo.poder" -->
      <!-- placeholder="Poder" -->

      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
